[user]
	name = YutaroKikuchi
	email = yusan1871@gmail.com
[core]
	quotepath = false
	editor = vim -c \"set fenc=utf-8\"
[alias]
	tree = log --graph --date=iso --pretty='[%ad]%C(auto) %h%d %Cgreen%an%Creset : %s'
  log-all = log --pretty=format:\"%C(yellow)%h %C(White)%ad | %C(White)%s%C(Green)%d %C(Red)[%an]\" --graph --date=short
